.row {
    display: flex;
}

.col-9 {
    width: 67.5%;
    background-color: rgb(217, 226, 225);;
    text-align: justify;
    align-items: center;
    border-radius: 20px;
    margin-left: 10px;
}

.col-9 h1 {
    text-align: center;
    padding: 30px 0px;
}

.col-9 p {
    padding: 0px 10px;
}
